.footer {
    background-color: black;
    color: #fff;
    padding: 3em;
    margin-top: 1em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li a {
    padding: 1em;
    margin: 0 1em;
    transition: 0.5s;
    color: white;
}

.social_list li a:hover {
    font-size: 20px;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: white;
}
